@font-face {
	font-family: LatoSubset;
	src: url("opt.woff2") format("woff2"), url("opt.woff") format("woff");
	unicode-range: U+65-90, U+97-122;
}

@font-face {
	font-family: Lato;
	src: url("reg.woff2") format("woff2"), url("reg.woff") format("woff");
}

@font-face {
	font-family: LatoBold;
	src: url("bold.woff2") format("woff2"), url("bold.woff") format("woff");
	font-weight: 700;
}

@keyframes in {
	to {
		transform: translateX(0);
	}
}

@keyframes border {
	to {
		transform: scaleX(1);
	}
}

@keyframes avatar {
	0% {
		transform: translateY(-5%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fromLeft {
	0% {
		transform: translateX(-5%);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

html,
body {
	height: 100%;
	margin: 0;
	font-size: 16px;
}

body {
	background: #1f1f1f;
	display: flex;
	font-family: sans-serif;
	color: #dddddd;
}

.s1 > body {
	font-family: LatoSubset, sans-serif;
}

.s2 > body {
	font-family: Lato, sans-serif;
}

.s2 h1 {
	font-family: LatoBold, sans-serif;
	font-weight: 700;
}

nav {
	transform: translateX(-100%);
	width: 70px;
	background: #0f0f0f;
	animation: in forwards 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
	z-index: 2;
}

/* https://codepen.io/sosuke/pen/Pjoqqp */
nav > :first-child > svg,
nav svg:hover {
	fill: #ddd;
}

nav svg {
	fill: #888;

	padding: 16px;
	transition: filter 0.1s;
	user-select: none;
}

/* aside */
aside {
	display: flex;
	flex-direction: column;

	transform: translateX(-128%);
	width: 260px;
	background: #161616;
	border-right: #000 1px solid;
}

aside[loaded] {
	animation: in forwards 0.75s cubic-bezier(0.39, 0.575, 0.565, 1);
}

aside > section {
	flex: 1 1;
}

aside h2 {
	font-size: 20px;
	text-align: center;
}

/* - Discord */

#discordSection > article {
	padding: 0 0 2px 18px;

	display: grid;
	grid-template-columns: 32px;
	grid-template-rows: 24px 16px;
	gap: 0 12px;
	grid-template-areas:
		"avatar name"
		"avatar .";

	align-items: center;
	opacity: 0;
}

aside[loaded] > #discordSection article {
	animation: fromLeft forwards 0.8s cubic-bezier(0.39, 0.575, 0.565, 1)
		calc(0.75s + var(--i) * 100ms);
}

#discordSection > article[stub] {
	grid-template-areas:
		"avatar name"
		"avatar name";
}

#discordSection img {
	grid-area: avatar;
	border-radius: 50%;
}

.s2 #discordSection name,
.s2 #discordSection status {
	font-family: LatoBold, sans-serif;
	font-weight: 700;
}

#discordSection name {
	grid-area: name;
	font-size: 16px;
	line-height: 26px;
}

#discordSection status {
	font-size: 12px;
	color: #777;
}

/* main */
main {
	display: flex;
	flex: 1 1;
	flex-direction: column;
	align-items: center;
}

header {
	width: 100%;
	height: 300px;

	display: flex;
	justify-content: center;
	align-items: center;
}

address {
	font-style: normal;
}

address > * {
	margin: 6px 0;
	opacity: 0;
	display: block;
}

address > h1 {
	font-size: 26px;
}

address[loaded] > :first-child {
	animation: fromLeft forwards 0.75s cubic-bezier(0.39, 0.575, 0.565, 1);
}

address[loaded] > :nth-child(2) {
	animation: fromLeft forwards 0.75s cubic-bezier(0.39, 0.575, 0.565, 1) 0.2s;
}

#avatar {
	border-radius: 50%;
	border: 1px solid #3c3c3c;
	opacity: 0;
	margin: 36px;
}

#avatar[loaded] {
	animation: avatar forwards 0.75s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.s2 discriminator {
	font-family: Lato, sans-serif;
	font-weight: normal;
}

id,
discriminator {
	color: #75715e;
}

div {
	border-bottom: #3c3c3c 1px solid;
	width: 90%;
	transform: scaleX(0);
	animation: border forwards 0.75s cubic-bezier(0.39, 0.575, 0.565, 1) 0.4s;
}
